.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 80vh;
    max-width: 80vw;
    
}
.spiner{
   
    transform: scale(1.3);

}

.text{
    font-size: 1.5rem;
    color: var(--second-color)
}